rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    //user
    match /users/{userId}{
      // Allow anyone to read information about all users
      allow read: if true;
      
      // Allow users to CREATE their own user document
      allow create: if request.auth != null && request.auth.uid == userId;
      
      // Allow users to UPDATE their own document
      allow update: if request.auth != null && request.auth.uid == userId;

      // Allow OTHER authenticated users to update ONLY the followers field
      allow update: if 
        request.auth != null &&
        request.auth.uid != userId &&
        // Verify ONLY the followers field changed
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['profileData']) &&
        request.resource.data.profileData.diff(resource.data.profileData).affectedKeys().hasOnly(['followers']);
    }

    //user new activity 
    // Allow users to read newActivity data
    match /users/{userId}/newActivity/{document=**}{
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow create: if request.auth != null;
    }

    //user likes
    match /users/{userId}/arrays/likes{
      // Allow authenticated users to read likes
      allow read: if request.auth != null;
      
      // Allow authenticated users to write likes to themselves
      allow write: if request.auth != null;
    }

    //posts
    match /posts/{postId}{
      // Allow anyone to read posts
      allow read: if true;
      // Allow an authenticated user to create a post if they are the author
      allow create: if 
        request.auth.uid == request.resource.data.author;
      // Allow an authenticated user to modify a post
      allow update: if request.auth != null;
      // Allow user to delete a post if they are the author
      allow delete: if 
        request.auth.uid == resource.data.author;
    }

    //comments
    match /posts/{postId}/comments/{commentId}{
      // Allow anyone to read comments
      allow read: if true;
      // Allow an authenticated user to create a comment if they are the author
      allow create: if 
        request.auth.uid == request.resource.data.author;
      // Allow an authenticated user to modify a comment
      allow update: if request.auth != null;
      // Allow comment author to delete their own comment
      allow delete: if 
        request.auth.uid == resource.data.author;
    }

    //groups
    match /groups/{document=**}{
      // Allow anyone to read groups
      allow read: if true;
      // Allow an authenticated user to create a group
      allow create: if true;
      // Allow an authenticated user to modify a group
      allow update: if true;
    }
    
    //utilities
    match /utilities/{document=**}{
      // Allow anyone to read utilities
      allow read: if true;
      // Do not allow creating utilities
      allow create: if false;
      // Do not allow updating utilities
      allow update: if false;
      allow write: if false;
    }
    
    //reports
    match /reports/{document=**}{
      // Allow anyone to read reports
      allow read: if true;
      // Allow authenticated users to create reports
      allow create: if request.auth != null;
      // Do not allow updating reports
      allow update: if false;
      allow write: if false;
    }
  }
}
